.buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 1rem;
    position: relative;
    z-index: 20;
}
.buttons_item {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 70px;
    font-size: 20px;
    width: 90px;
    color: #b3b3b3;
    cursor: pointer;
    transition: 0.1s
}
.buttons_item:hover {
    background: #313131;
    transition: 0.1s
}
span {
    font-size: 16px;
}
.key {
    font-size: 24px;
    color: #fff;
}
.buttons_top {
    border-bottom: 1px solid #616161;
    display: grid;
    grid-column: 1 / -1;
    margin: 0 -1rem;
    padding: 0 1rem 1rem 1rem;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 1rem;
}
.buttons_top .buttons_item {
    font-size: 16px;
}